<%- include('../../partials/upper.ejs') %>
<link rel="stylesheet" href="/osStyle/style.css">



<div id="osContainer">
    <div id="chapters">     

        <h4 style="text-align: center; background-color: cyan;color: black;font-weight: 900;" >Chapters</h4>
              <br>
          <ol start="0" class="osOl">
                 <li onclick="location.href='/os/'">Admin's message</li><hr>
                 <li onclick="location.href='/os/ch1'">Introduction</li><hr>
                 
                 <li onclick="location.href='/os/ch2'">Operating System Structures</li><hr>
                 <li onclick="location.href='/os/ch3'">Processes</li><hr>

                 <li onclick="location.href='/os/ch4'">Threads</li><hr>
                 <li onclick="location.href='/os/ch5'">Process Synchronization</li><hr>
                 <li onclick="location.href='/os/ch6'">CPU Scheduling</li><hr>

                 <li onclick="location.href='/os/ch7'">Deadlocks</li><hr>
                 <li onclick="location.href='/os/ch8'">Main Memory</li><hr>
                 <li onclick="location.href='/os/ch9'">Virtual Memory</li><hr>

                 <li onclick="location.href='/os/ch10'">Mass-Storage Structure</li><hr>
                 <li onclick="location.href='/os/ch11'">File-System Interface</li><hr>
                 <li onclick="location.href='/os/ch12'">File-System Implementation</li><hr>


                 <li onclick="location.href='/os/ch13'">I/O Systems</li><hr>
                 <li onclick="location.href='/os/ch14'">Protection</li><hr>
                 <li onclick="location.href='/os/ch15'">Security</li><hr>
          </ol>
    </div>
    <div id="content">

    
    
