:root {
    --border-radius: 5px;
    --border-width: 1px;
    --light-grey: #e2e0e0;
    --blue: #7f6cfc;
    --orange: #ffc877;
    --red: #c14444;
    --black: #000;
}

body {
    background-color:white;
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
  
  form {
    color: var(--black);
    font-size: 25px;
  }
  
  input[type="text"]{
    background-color : #f8f8f8;
  }

  .task-button {
    cursor: pointer;
    background-color: var(--red);
    color: var(--light-grey);
    border: 0;
    border-radius: 4px;
    padding: 15px 12px;
    top: 100px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
  
  .task-button:focus {
    outline: none;
  }
  
  h1 {
    color: var(--black);
    font-size: 50px;
  }
  
  h3 {
    color: var(--red);
    font-size: 42px;
    letter-spacing: -2px;
    text-align: left;
  }
  .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    border: 1px solid #dedede;
  }
  .list li {
    list-style: none;
    background-color : #f8f8f8;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    color: #3498db;
  }
  li a {
    float: right;
    text-decoration: none;
    color: var(--red);
  }

/* #removeTask{
  border: 1px solid greenyellow;
  border-radius:50px;
} */


.mode {
  /* border: 1px solid #333; */
  display: inline-block;
  border-radius: 50px;
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width:fit-content;
  box-shadow:aquamarine 0px 2px 4px 0px, aquamarine 0px 2px 16px 0px;
}

#for-light {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-color: white;
  border: 1px solid silver;
  background-color:#333;
}

#for-dark {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: -10px;
  border-color: white;
  border: 1px solid silver;
}


#txt{
  height:40px;
  width:280px;
  font-weight: bolder;
  font-size: larger;
}