<%- include('../../partials/upper.ejs') %>
<link rel="stylesheet" href="/graphStyle/style.css">


<div id="graphContainer">
    <div id="chapters">     

        <h4 style="text-align: center; background-color: cyan;color: black;font-weight: 900;" >Chapters</h4>
              <br>
          <ol class="graphOl">
                 <li onclick="location.href='/graph/ch1'">Breadth First Search</li><hr>
                 <li onclick="location.href='/graph/ch2'">Depth First Search</li><hr>
                 <li onclick="location.href='/graph/ch3'">Cycle detection in undirected graph</li><hr>
                 <li onclick="location.href='/graph/ch4'">Cycle detection in directed graph</li><hr>
                 <li onclick="location.href='/graph/ch5'">Bipartite graph coloring</li><hr>
                 <li onclick="location.href='/graph/ch6'">Topological sorting </li><hr>
                 <li onclick="location.href='/graph/ch7'">Shortest path in undirected unweighted graph</li><hr>
                 <li onclick="location.href='/graph/ch8'">Shortest path in Directed acyclic graph (DAG)</li><hr>
                 <li onclick="location.href='/graph/ch9'">Dijkstra's Algorithm for shortest path</li><hr>
                 <li onclick="location.href='/graph/ch10'">Minimum Spanning Tree</li><hr>
                 <li onclick="location.href='/graph/ch11'">Cut edges | Bridges using Tarjan's algorithm</li><hr>
                 <li onclick="location.href='/graph/ch12'">Cut vertices | Articulation points</li><hr>
                 <li onclick="location.href='/graph/ch13'">Kosaraju's algorithm for Strongly connected components</li><hr>

        
          </ol>
    </div>
    <div id="content">


          

