<%- include('./graphPartials/templateStart') %>


<h1 id="heading" style="margin-top: 40px; text-align: center;"> Breadth First Search</h1>
<hr>
<br>

<h3>1. BFS on adjacency list</h3><br>
<script src="https://gist.github.com/rudraWorks/a9d733ad6c8665c1dcabf3ecc4ab9ac5.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>


<hr>
<br>

<h3>2. BFS on adjacency matrix</h3><br>
<script src="https://gist.github.com/rudraWorks/6c29e148eb78584ceeb742b81a534863.js"></script>
<h5><b>Time complexity: O(V<sup>2</sup>) <br> Space complexity: O(V)</b></h5>



<%- include('./graphPartials/templateEnd') %>
