<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Minimum Spanning Tree</h1>
<hr>
<br>

<h3>1. Using Prim's Algorithm</h3><br>
<script src="https://gist.github.com/rudraWorks/c0d780b3f96630a4ecd06043742b8973.js"></script>
<h5><b>Time complexity: O(V<sup>2</sup>)  <br> Space complexity: O(V)</b></h5>


<hr>
<br>

<h3>2. Using Prim's Algorithm ( Optimization using priority queue )</h3><br>
<script src="https://gist.github.com/rudraWorks/40cbd04e4766b4c3669ef9edd09ce075.js"></script>
<h5><b>Time complexity: O(Vlog(V))  <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>3. Using Kruskal's Algorithm</h3><br>
<script src="https://gist.github.com/rudraWorks/98712b421f9496adbfa2aac545d1c4c2.js"></script>
<h5><b>Time complexity: O(Elog(E))  <br> Space complexity: O(V)</b></h5>


<%- include('./graphPartials/templateEnd') %>
