<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Cut Egdes | Bridge Edges | Critical Connections</h1>
<hr>
<br>

<h3>Using Tarjans's Algorithm</h3><br>
<script src="https://gist.github.com/rudraWorks/3ec2e2ae2b9fd40872df941321355c6e.js"></script>

<%- include('./graphPartials/templateEnd') %>
