<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {
        
    }
</style>

<h1 id="heading" style="margin-top: 40px; text-align: center;"> Depth First Search</h1>

<hr>
<br>

<h3>1. DFS on adjacency list</h3><br>
<script src="https://gist.github.com/rudraWorks/8a7cf3a5dc14561734d5fe8401744989.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>


<hr>
<br>

<h3>2. DFS on adjacency matrix</h3><br>
<script src="https://gist.github.com/rudraWorks/3d847b3e693a73051a8ffc0f89d48dde.js"></script>
<h5><b>Time complexity: O(V<sup>2</sup>) <br> Space complexity: O(V)</b></h5>

<%- include('./graphPartials/templateEnd') %>
