<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;"> Cycle Detection in Undirected Graph</h1>

<hr>
<br>

<h3>1. Using Disjoint Set Union (DSU)</h3><br>
<script src="https://gist.github.com/rudraWorks/dd24b519f5258b159db6ce9a83eacb81.js"></script>
<h5><b>Time complexity: O(V+Elog(V)log(E)) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>2. Using DFS</h3><br>
<script src="https://gist.github.com/rudraWorks/30d9f1298481beb1f25bf881dbaee650.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>3. Using BFS</h3><br>
<script src="https://gist.github.com/rudraWorks/62f0eeb45215b3f89b4fda6c70e404b1.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>




<%- include('./graphPartials/templateEnd') %>
