<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;"> Cycle Detection in Directed Graph</h1>

<hr>
<br>

<h3>1. Using DFS</h3><br>
<script src="https://gist.github.com/rudraWorks/952998711593fa9228af877850bc374d.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>2. Using BFS (Kahn's Algorithm)</h3><br>
<script src="https://gist.github.com/rudraWorks/1f9c030e8c86781e745b04ec4ee44770.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>




<%- include('./graphPartials/templateEnd') %>
