<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Bipartite Graph Coloring</h1>
<hr>
<br>

<h3>1. Using DFS</h3><br>
<script src="https://gist.github.com/rudraWorks/385314000d885b14dcc7ccbf6bcb02e2.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>2. Using BFS</h3><br>
<script src="https://gist.github.com/rudraWorks/501e694d1020a2a8f91001a2a941d8db.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>


<%- include('./graphPartials/templateEnd') %>
