<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Topological Sorting</h1>
<hr>
<br>

<h3>1. Using DFS</h3><br>
<script src="https://gist.github.com/rudraWorks/2d8ac677b86618b7955b3ed5b91d942c.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>2. Using BFS (Kahn's Algorithm)</h3><br>
<script src="https://gist.github.com/rudraWorks/1fa53858776a0152873b6554edf39b38.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>


<%- include('./graphPartials/templateEnd') %>
