<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Shortest path in undirected unweighted graph</h1>
<hr>
<br>

<h3>1. Using BFS</h3><br>
<script src="https://gist.github.com/rudraWorks/94ad991568cc8e9efb7e337e5288e7e9.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>



<%- include('./graphPartials/templateEnd') %>
