<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Shortest path in Directed Acyclic Graph</h1>
<hr>
<br>

<h3>1. Using BFS</h3><br>
<script src="https://gist.github.com/rudraWorks/21156d127dc1d0ae13615aceb59d4c44.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>

<hr>
<br>

<h3>1. Using DFS (topological sorting)</h3><br>
<script src="https://gist.github.com/rudraWorks/968b18520a597dbd1d7ab0f076d7c9c9.js"></script>
<h5><b>Time complexity: O(V+E) <br> Space complexity: O(V)</b></h5>
 
<%- include('./graphPartials/templateEnd') %>
