<%- include('./graphPartials/templateStart') %>



<h1 id="heading" style="margin-top: 40px; text-align: center;">Dijkstra's Algorithm</h1>
<hr>
<br>

<h3>Using Min Priority Queue</h3><br>
<script src="https://gist.github.com/rudraWorks/405230618703612de2b2a69f321295bb.js"></script>
<h5><b>Time complexity: O(V+Elog(V))  <br> Space complexity: O(V)</b></h5>

<hr>
<br>



<%- include('./graphPartials/templateEnd') %>
