<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {

    }
</style>
<h1 id="heading" style="text-align: center;margin-top: 40px;"> coming soon....</h1>
<%- include('./graphPartials/templateEnd') %>
