<%- include('./graphPartials/templateStart') %>

<style>
    @media (max-width: 768px) {
        
    }
</style>
<br>
<h1 id="heading" style="text-align: center;"> Welcome to graph theory algorithms</h1>
<hr>
<br>
<p >
    In this course, I have provided all the working codes of various algorithms used in graph theory. These codes are 
    written in C++. This course can be useful for quick revision.
    <br>
</p>
<%- include('./graphPartials/templateEnd') %>
