<%- include('./partials/upper.ejs') %>

<link rel="stylesheet" href="homeStyle.css">
<style>
    #imageDSA{
        background-image: url('https://lh3.googleusercontent.com/d/1r-3rR35eV2PIubrUkzzGDwvNCawfrAvO');
        background-size: contain;
        background-color:aquamarine;
        background-repeat: no-repeat;
        height:100%;
    }
    #imageCN{
        background-image: url('https://lh3.googleusercontent.com/d/1SZv1kH1IOE2Y2JyijfoI-wdxWMx4dFOG');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    #imageCPP{
        background-image: url('https://lh3.googleusercontent.com/d/1yyvq0bnFu2Y_F-1mqbMiykjg6zOD5Avw');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    #imageOS{
        background-image: url('https://lh3.googleusercontent.com/d/1oWhq7cf2dOfzWk4ojcVY6F5lTMDjeMFm');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    #imageGraph{
      /* https://drive.google.com/file/d/175jkDNb8lHf_fknChAo6Gnz5M-ZJyU32/view?usp=sharing */
      background-image: url('https://lh3.googleusercontent.com/d/175jkDNb8lHf_fknChAo6Gnz5M-ZJyU32');
        background-size: contain;
        background-color:rgb(255, 255, 255);
        background-repeat: no-repeat;
        height:100%;
    }
    /* #cen{
        background-color: rgb(88, 137, 180);
    } */

    .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
</style>


<center id="cen">
    
    <h1 style="color: rgb(44, 5, 77); text-align: center;margin-top: 30px; font-weight: 900;">All Tracks 🏫👨‍🏫</h1>
    <hr>
    <div class="itemContainer">
      
        <div class="mainItems" id="striverDSASheet" onclick="location.href='/striverSheet'">
            <div>Striver DSA Sheet</div>
            <div id="imageDSA"></div>
        </div>
        <div class="mainItems" onclick="toastMessage('Coming soon!')">
            <div>C++ Interview Questions</div>
            <div id="imageCPP"></div>
        </div>
        <div class="mainItems" onclick="toastMessage('Coming soon!')">
            <div>Computer Networks</div>
            <div id="imageCN"></div>
        </div>
        <div class="mainItems" onclick="location.href='/os'">
            <div>Operating Systems</div>
            <div id="imageOS"></div>
        </div>
        <div class="mainItems" onclick="location.href='/graph'">
          <div>Graph Theory Algorithms</div>
          <div id="imageGraph"></div>
      </div>

    </div>

</center>
<!-- <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div> -->

<%- include('./partials/lower.ejs') %>