<%- include('./osPartials/templateStart') %>

<style>
    @media (max-width: 768px) {

    }
</style>
<h1 id="heading" style="text-align: center;margin-top: 40px;">till now ch1 and ch3 are available, rest chapters will be added soon...</h1>
<%- include('./osPartials/templateEnd') %>
