<%- include('./osPartials/templateStart') %>

<style>
    @media (max-width: 768px) {

    }

</style>
<br>
<h1 id="heading" style="text-align: center;"> Welcome to Operating System Course!</h1>
<hr>
<br>
<p>
    In this course, I have provided the most precise notes on Operating Systems. I will update the chapters as soon as I study them. I 
    guarantee you that this content will be unmatchable because I have prepared these contents from the best sources including some standard books like <b>"Abraham Silberschatz: Operating System Concepts".</b> I given all the important links and important videos underneath 
    the important topics.
    <br>
    No topic is skipped. You will find every topic in its corresponding chapter.
    <br>
    This course will definately help you take better notes while studying this subject.
    <br><br>
    All the best!
    <br><br>
    <!-- <img src="/f.ico"> -->
</p>
<%- include('./osPartials/templateEnd') %>
